<form class="AddCourse__form" @submit.prevent="submit">
    <h1 class="AddCourse__title">Add a new course</h1>
    <fieldset class="AddCourse__fieldset">
        <label class="AddCourse__label" for="title">Title</label>
        <input class="AddCourse__inputText" type="text" id="title" name="title" required autofocus
               v-model="newCourse.title"
               placeholder="Type a good title">
    </fieldset>
    <fieldset class="AddCourse__fieldset">
        <label class="AddCourse__label" for="pitch">
            Pitch (max 140 chars.)
        </label>
        <textarea class="AddCourse__inputText" id="pitch" name="pitch" required maxlength="140"
                  v-model="newCourse.pitch"
                  placeholder="A short description">
    </fieldset>
    <fieldset class="AddCourse__fieldset">
        <label class="AddCourse__label" for="description">
            Description
        </label>
        <textarea class="AddCourse__inputText" id="description" name="description" required rows="5"
                  v-model="newCourse.description"
                  placeholder="Please, be descriptive here">
    </fieldset>
    <fieldset class="AddCourse__fieldset">
        <label class="AddCourse__label" for="member-limit">
            Num. members
        </label>
        <input class="AddCourse__inputText" type="number" id="member-limit" name="member-limit" required
               v-model="newCourse.member_limit">
    </fieldset>
    <fieldset class="AddCourse__fieldset">
        <label class="AddCourse__label" for="subjects">
            Create first subjects (if you want)
        </label>
        <subjects-input :id="'subjects'" :name="'subjects'"
                        v-model="newCourse.subjects">
    </fieldset>
    <fieldset class="AddCourse__fieldset">
        <button class="Button--primary" type="submit">Create</button>
    </fieldset>
</form>
