<form class="add-custom-wizard" @submit.prevent="submit">
    <h1>Add a new course</h1>
    <fieldset>
        <label for="title">
            Title
        </label>
        <input type="text" id="title" name="title" required autofocus
               v-model="newCourse.title"
               placeholder="Type a good title">
    </fieldset>
    <fieldset>
        <label for="pitch">
            Pitch (max 140 chars.)
        </label>
        <textarea id="pitch" name="pitch" required maxlength="140"
                  v-model="newCourse.pitch"
                  placeholder="A short description">
    </fieldset>
    <fieldset>
        <label for="description">
            Description
        </label>
        <textarea id="description" name="description" required
                  v-model="newCourse.description"
                  placeholder="Please, be descriptive here">
    </fieldset>
    <fieldset>
        <label for="total-members">
            Num. members
        </label>
        <input type="number" id="total-members" name="total-members" required
               v-model="newCourse.numMembers">
    </fieldset>
    <fieldset>
        <label for="subjects">
            Create first subjects (if you want)
        </label>
        <subjects-input :id="'subjects'" :name="'subjects'"
                        v-model="newCourse.subjects">
    </fieldset>
    <fieldset>
        <button type="submit"> Create </button>
    </fieldset>
</form>
