.searchbox {
    align-items: center;
    background: linear-gradient(to bottom right, #fb83fa 0%, #b441fc 37%, #3d86ed 100%);
    display: flex;
    color: white;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    height: 100vh;
    transition: height 0.3s ease-in-out;
}

.searchbox.active {
    background: linear-gradient(to top left, #fb83fa 0%, #b441fc 37%, #3d86ed 100%);
    height: 10vh;
}

label {
    display: block;
}

h1 {
    color: currentColor;
}
