<div class="Searchbox" :class="{active : displayCourses}">
    <div class="Searchbox__content">
        <form class="Searchbox__form" @submit.prevent="getCourses(courseName)">
            <label class="Searchbox__label" for="searchbox">{{ label }}</label>
            <fieldset class="Searchbox__searchField">
                <input class="Searchbox__input" type="text" id="searchbox" v-model="courseName" placeholder="GraphSQL">
                <button class="Searchbox__submit" type="submit" name="search-button">
                    <svg class="Searchbox__icon" width="24" height="24" viewBox="0 0 32 32">
                        <circle cx="12" cy="12" r="10" stroke-width="3"/>
                        <line x1="18" y1="18" x2="31" y2="31" stroke-width="4"/>
                    </svg>
                </button>
            </fieldset>
        </form>
    </div>
</div>
