.CourseCard {
    height: calc(var(--u) * 48);
    margin: var(--u);
    padding: var(--padding--card);
    border-radius: var(--border-radius);
    background-color: white;
    flex: 0 0 calc(33% - 1rem);
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow--card);
}

.CourseCard__title {
    display: block;
    font-size: var(--font-size--big);
    text-decoration: none;
    color: var(--color--primary);
    line-height: var(--line-height--title);
    font-weight: bold;
    margin-bottom: var(--u3);
}

.CourseCard__description {
    overflow: hidden;
    position: relative;
    line-height: var(--line-height--paragraph);
    max-height: calc(var(--line-height--paragraph) * 4);
    color: var(--color--secondary);
    margin-bottom: var(--u3);
}

.CourseCard__info {
    flex: 1;
}

.CourseCard__actions {
    flex: 0;
    padding-top: var(--u3);
}

.CourseCard__fork,
.CourseCard__join {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: var(--font-size--big);
    justify-content: center;
    padding: var(--padding--button);
    background-color: var(--color--action-primary);
    border-radius: var(--border-radius);
}
