<div class="course-card">
    <p>
        <router-link :to="{ name: 'course', params: { id: course.id }}">{{course.title}}</router-link>
    </p>
    <p>Description: {{ course.pitch }}</p>
    <p>Members: {{ course.member_count }}/{{course.member_limit}}</p>
    <p>status: {{ course.status }}</p>
    <p>
        <button v-if="course.status = 'active'" type="button" name="join">Join!</button>
        <button v-if="course.status = 'archived'" type="button" name="fork">fork!</button>
    </p>
</div>
