.comment {
    padding: 2rem 1rem;
    display: flex;
    align-items: flex-start;
    border-top: 1px solid var(--color--border);
}

.comment.comment-me {
    border-left: 5px solid var(--color--action-primary);
}

.comment.comment-me .comment-avatar {
    order: 2;
}

.comment-avatar {
    margin-right: 1rem;
    border-radius: 50%;
    width: 4rem;
}

.comment-text {
    margin: 0;
    flex: 1;
    font-size: var(--font-size--small);
}
