/*
* Custom variables
*/
@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-BoldItalic.ttf');
}

:root {
    --u: 0.5rem;
    --u2: calc(var(--u) * 2);
    --u3: calc(var(--u) * 3);
    --padding--search: calc(var(--u) * 2);
    --padding--searchbox: 1rem 1.5rem 1rem 1rem;
    --padding--input-text: 0.75rem;
    --padding--card: var(--u3);
    --padding--button: calc(var(--u) * 2) var(--u3);
    --border-radius: 0.25rem;
    --box-shadow--card: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    --color--primary: hsl(0, 0%, 14%);
    --color--secondary: hsl(140, 4%, 32%);
    --color--tertiary: hsl(140, 4%, 68%);
    --color--blackboard: hsl(140, 4%, 14%);
    --color--body-bg: hsl(140, 2%, 98%);
    --color--border: hsl(140, 2%, 80%);
    --color--action-primary: hsl(350, 60%, 44%);
    --color--negative-primary: hsl(0, 0%, 88%);
    --color--status-active: hsl(140, 60%, 44%);
    --color--status-ongoing: hsl(70, 60%, 50%);
    --color--status-archived: hsl(140, 4%, 55%);
    --font-size--normal: 1rem;
    --font-size--big: 1.25rem;
    --font-size--huge: 1.75rem;
    --font-size--small: 0.875rem;
    --font-size--tiny: 0.75rem;
    --line-height--title: 1.125;
    --line-height--paragraph: 1.5rem;
    --easing--cubic: cubic-bezier(0.01, 0.77, 0.61, 0.9);
}

/*
* Normalization
*/
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body,
input,
textarea {
    color: --color--primary;
    font-family: OpenSans, sans-serif;
    font-size: 1rem;
}

[type="password"],
[type="search"],
[type="text"],
button,
fieldset,
input,
textarea {
    display: block;
    resize: none;
    border: none;
    outline: none;
    appearance: none;
}

fieldset {
    padding: 0;
}

button {
    background-color: transparent;
}

#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
