.Courses {
    background-color: #f2f2f2;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Courses__list {
    display: flex;
    width: 92vw;
    max-width: 1280px;
    margin: calc(var(--u) * 2) -1rem;
    flex-wrap: wrap;
}
