.subject {
    background: var(--color--negative-primary);
    min-height: calc(100vh - 53px);
    height: 100%;
}

.subject-wrapper {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
