<div id="home">
    <div class="searchbox-wrapper" :class="{'active': displayResults}">
        <img class="logo" src="../../assets/logo.gif" alt="LibreForge">
        <searchbox @getcourses="getCourses"></searchbox>
        <img class="Logo" src="../../assets/logo.gif" alt="LibreForge">
        <searchbox @getcourses="getCourses"></searchbox>
        <router-link class="Button__createCourse" :to="{name: 'add-course'}">...or create a new course</router-link>
    </div>
    <courses-list :subject="subject"></courses-list>
</div>
