.searchbox-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color--blackboard);
    background-image: url('../../assets/board-blackboard-success.jpeg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.searchbox-wrapper.active {
    flex-direction: row;
    justify-content: space-between;
    min-height: calc(var(--u) * 12);
    transition: all 0.5s var(--easing--cubic);
}

.searchbox-wrapper.active .Logo {
    width: 10rem;
}

<<<<<<< b1a3d373c4e8cf4ad3d8d026812cbad1cc8a4a07
.add-course {
    color: var(--color--action-primary);
    text-decoration: none;
    font-size: var(--font-size--big);
    padding: 1rem;
=======
.Button__createCourse {
    display: inline-block;
    padding: var(--padding--button);
    background-color: var(--color--action-primary);
    color: white;
    text-decoration: none;
    border-radius: var(--border-radius);
}

.searchbox-wrapper:not(.active) .Button__createCourse {
    position: fixed;
    bottom: var(--u3);
>>>>>>> add course form first styles
}
