<div class="course-detail"  v-if='course'>
    <loading v-if="loading"></loading>
    <h1 class="detail-name">{{ course.title }}</h1>
    <h2 class="detail-description">{{ course.description }}</h2>
    <p>status: {{ course.status }}</p>
    <ul class="course-members">
        <li>
            <img class="course-members-avatar course-members-owner" :src="getAvatar(course.created_by)">
            <p class="course-members-username">{{ course.created_by.name }}</p>
        </li>
        <li v-for="member in course.members">
            <img class="course-members-avatar" :src="getAvatar(member)" :alt="member.name">
            <p class="course-members-username">{{ member.name }}</p>
        </li>
    </ul>
    <div class="course-options">
        <button type="button" name="start-course" v-if="course.status === 'active'">Start Course</button>
        <button type="button" name="end-course" v-if="course.status === 'ongoing'">Finish Course</button>
    </div>
</div>
