<div class="course-detail">
    <h1 class="course-name">{{course.name}}</h1>
    <h2 class="course-description">{{ course.description }}</h2>
    <p>status: {{ course.status }}</p>
    <ul class="course-members">
        <li v-for="member in course.members">
            <img class="course-members-avatar" :class="{'course-members-owner' : member.isOwner}" :src="member.avatar" :alt="member.username">
            <p class="course-members-username">{{member.username}}</p>
        </li>
    </ul>
    <div class="course-options">
        <a href="">Start Course</a>
        <a href="">Close Course</a>
    </div>
</div>
