.detail {
    background: white;
    margin: 0.3rem;
    position: relative;
    flex: 1;
}

.back-detail-course {
    padding: 1rem;
    border-bottom: 1px solid var(--color--border);
    text-decoration: none;
    display: block;
    color: var(--color--action-primary);
}

.detail-name {
    padding: 1rem 1rem 0;
    font-size: var(--font-size--huge);
    font-weight: lighter;
    display: flex;
    align-items: center;
    margin: 0;
}

.detail-description {
    padding: 0 1rem 1rem;
}
