<div class="resources">
    <h2>Resources</h2>
    <div class="resource-list-links">
        <h3>Links</h3>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="resource-list-videos">
        <h3>Videos</h3>
        <ul>
            <li></li>
        </ul>
    </div>
    <form class="add-resource" action="index.html" method="post">
        <input class="add-resource-input" type="url" name="resource" value="" placeholder="Add URL">
        <button class="add-resource-submit" type="submit" name="button">Add resource</button>
    </form>
</div>
