<div class="resources">
    <h2>Resources</h2>
    <div class="resource-wrapper">
        <div class="resource-list">
            <h3>Links</h3>
            <ul>
                <li v-for="resource in resources">
                    <a class="single-resource" :href="resource.uri" target="_blank">
                        {{resource.title}}
                        <span class="description">{{resource.description}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <form class="add-resource" @submit.prevent="addResource()">
        <input class="add-resource-input" type="text" v-model="resourceUrl" placeholder="Add URL" required>
        <button class="add-resource-submit" type="submit" name="button">Add resource</button>
    </form>
</div>
