.AddCourse {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color--body-bg);
    padding: calc(var(--u) * 8);
}
