<nav>
    <div class="left logo">
        <router-link :to="{name: 'home'}">
            <img class="logo" src="../../assets/logo.gif" alt="LibreForge">
        </router-link>
    </div>
    <ul class="center">
        <li>
            <router-link class="nav-menu" :to="{name: 'home'}">Find</router-link>
        </li>
        <li>
            <router-link class="nav-menu" :to="{name: 'add-course'}">Create</router-link>
        </li>
    </ul>
    <div class="right user" :class="{ hide: !username }">
        <router-link class="nav-menu" :to="{name: 'home'}">
            <span class="username">{{ username }}</span>
            <img class="user-pic" :src="avatar">
        </router-link>
    </div>
</nav>
