<div class="detail-info">
    <loading v-if="loading"></loading>
    <h1 class="detail-name">{{ course.title}}</h1>
    <h2 class="detail-description">{{ course.description }}</h2>
    <p>status: {{ data.status }}</p>
    <p v-if="type === 'subject'">
        end date: {{ data.date_end }}
    </p>
    <ul class="course-members" v-if="type === 'course'">
        <li>
            <img class="course-members-avatar course-members-owner" :src="data.owner.avatar" :alt="data.owner.username">
            <p class="course-members-username">{{ data.owner.username }}</p>
        </li>
        <li v-for="member in data.members">
            <img class="course-members-avatar" :src="member.avatar" :alt="member.username">
            <p class="course-members-username">{{ member.username }}</p>
        </li>
    </ul>
    <div class="course-options" v-if="type === 'course'">
        <button type="button" name="start-course" v-if="data.status === 'active'">Start Course</button>
        <button type="button" name="end-course" v-if="data.status === 'ongoing'">Finish Course</button>
    </div>
</div>
